body {
    margin: 0;
    background-color: #0dbe71;
}

.custom-navbar {
    background-color: #0b2c3d;
    padding: 0.5rem 1rem;
}

.custom-navbar .navbar-brand .brand-text {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.custom-navbar .navbar-toggler {
    border: none;
    padding: 0.3rem;
    opacity: 1 !important;
    visibility: visible !important;
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.custom-navbar .navbar-nav {
    flex-direction: row;
}
.custom-navbar .navbar-collapse {
    background-color: #09464f;
    padding: 10px;
    border-radius: 6px;
    
}
.navbar-collapse .btn {
    color: yellow;
    font-weight: 400;
}

/* rest section */
.main-content {
  background-image: url('/static/images/bg_img.jpg'); 
  background-size: cover;
  background-position: center;
  border-radius: 5px; 
  height: 85vh; 
  margin: 35px;
  padding: 40px;
  box-shadow: black 0px 0px 20px;
}


.spot-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.spots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 15px;
    justify-content: center;
}
.spot {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}
.spot.available {
    background-color: #28a745; /* Green for Available */
}
.spot.occupied {
    background-color: #dc3545; /* Red for Occupied */
}
.spot:hover {
    transform: scale(1.08);
    transition: transform 0.2s ease-in-out;
}
.details-panel {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    height: 100%;
}
.instructions {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-style: italic;
    text-align: center;
}
h3 {
    text-align: center;
    font-weight: bold;
    color: #222;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 6px;
    margin-bottom: 15px;
}