{% extends "base_layout.html" %}

{% block title %}ParkAlot - Smart Parking App{% endblock %}
{% block meta_description %}Book parking slots easily with ParkAlot.{% endblock %}

{% block head_extra %}

    {{super()}}
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/navbar2.css">

{% endblock %}

{% block content %}
    {% include "public_home_nav.html" %}

    <!-- Hero -->
    <div class="hero-section d-flex justify-content-between align-items-center p-4">
        <!-- Left text -->
        <div class="custom-heading">
            <h1 class="fw-bold">Booking Parking gets easy with ParkAlot</h1>
            <h5>Book your parking spot in seconds with ease.</h5><br><br>
            We hope to get our services to every city in India.<br>
            It will not be possible without your support,<br>
            So, please register and help us grow.<br><br><br>
            Visit contact us page for any queries or suggestions.<br>
            Visit about us page to know more about us.
        </div>

        <!-- bootstrap form -->
        <div class="card p-4" style="width: 415px; height: 450px;">
            <h5 class="mb-3">Find and Book a Parking Spot</h5>
            <form method="POST" action="{{ url_for('home') }}">
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your name" required>
                </div>

                <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input type="text" class="form-control" id="pin" name="pincode" placeholder="Enter pincode">
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">Your City</label>
                    <select class="form-select" id="city" name="city" required>
                        <option value="" disabled selected>Select City</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Noida</option>
                        <option>Gurugram</option>
                        <option>Bangalore</option>
                        <option>Pune</option>
                        <option>Hyderabad</option>
                        <option>Chennai</option>
                        <option>Ahmedabad</option>
                        <option>Jaipur</option>
                        <option>Kolkata</option>
                        <option>Indore</option>
                        <option>Bhopal</option>
                        <option>Lucknow</option>
                        <option>Chandigarh</option>
                        <option>Kochi</option>
                    </select>
                </div> <br>

                <button type="submit" class="btn btn-dark w-100">
                    See Parking spots available in your city
                </button>
            </form>
        </div>
    </div>
{% endblock %}
